!!! 5
html
	head 
		title="AdvertEyes.me - Campaign Creation"
	body(data-spy='scroll', data-target='.subnav', data-offset='50')
		
		//======================== Navbar =======================
		.navbar.navbar-fixed-top
			.navbar-inner
				.container
					a.btn.btn-navbar(data-toggle='collapse', data-target='.nav-collapse')
						span.icon-bar
						span.icon-bar
						span.icon-bar

				a.brand(href='./index.html') AdvertEyes.me
				.nav-collapse.collapse
					ul.nav
						li.active
							a(href='./index.html') Home
						li
							a(href='./dashboard.html') Dashboard
						li
							a(href='./about.html') About
						li
							a(href='./contact.html') Contact

		//======================== Title ========================
		.container
			header.jumbotron.subhead
				h1 About AdvertEyes.me
				p.lead Real-Time Targetted Advertising 


			//======================= Overview =====================

			.row#Overview
				.span12
					p Our digital billboards use real-time image analysis to offer targeted Outdoor advertising, actually changing billboard ads to suit the profile of its viewers.

			
			.row#Team
				.span12
					h2 Team
					.span4
						h3 Mike
					.span4
						h3 Jono
					.span3
						h3 Nick


			


					

		//footer
		//p (C) Infatics 2012